<h2>Записи на прием</h2>
<div class="row" ng-show="!isDataLoading()">
    <div class="col-sm-12">
        <table class="table table-striped col-sm-10" ng-show="appointments.length > 0">
            <thead>
            <tr>
                <th class="text-center">Время</th>
                <th>Пациент</th>
                <th>Номер медицинского полиса</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointment in appointments">
                <th scope="row" class="text-center">{{dateService.getTime(appointment.visitDate)}}</th>
                <td>{{appointment.patientFullName}}</td>
                <td>№{{appointment.patientPoliceNumber}}</td>
                <td class="text-right">
                    <a class="btn btn-default" href="#/doctorPatientCard/{{appointment.patientId}}"><i class="fa fa-sign-out"></i> Начать прием</a>
                </td>
            </tr>
            </tbody>
        </table>
        <status-text ng-show="appointments.length == 0" fa-icon-class="fa-thumbs-up fa-4x" text="У Вас больше нет записей на прием" />
    </div>
</div>
<div class="row" ng-show="isDataLoading()" >
    <status-text fa-icon-class="fa-spinner fa-pulse fa-2x" text="Загружаются записи на прием..." />
</div>