/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* change font */

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
h3, h4 {
  font-weight: 300;
}
h1 small, h2 small {
  font-weight: 300;
}
h1 strong, h2 strong {
  font-weight: 400;
}
h3 small, h4 small {
  font-weight: 200;
}
h3 strong, h4 strong {
  font-weight: 400;
}
p, div {
  /*font-family: 'Roboto', sans-serif;*/
}

/* UI Bootstrap */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Modal */

.modal-body h2,
.modal-header h2 {
  font-weight: 300;
  line-height: 1.0;
  margin-bottom: 1.5%;
}

.modal-body h4,
.modal-header h4 {
  font-weight: 300;
}

.modal-body p {
  font-weight: 200;
}
.modal-body strong {
  font-weight: 400;
}

/* Printing */

@media screen {
  .printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility:hidden;
  }
  .printSection, .printSection * {
    visibility:visible;
  }
  .printSection {
    position:absolute;
    left:0;
    top:0;
  }
}