<div class="row">
    <div class="col-sm-12">
        <h1>{{patient.name}}<br>
            <small>
                Медицинский полис <strong>№{{patient.medicalPolicyNumber}}</strong><br>
                Адрес <strong>№{{patient.address}}</strong><br>
                E-Mail адрес: <strong>{{patient.email}}</strong>
            </small>
        </h1>
        <hr>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Готовые рецепты</h2>
        <ul class="list-group" ng-repeat="pharmacy in pharmacies">
            <h3>
                {{pharmacy.name}}
                <small>{{pharmacy.address}}</small>
            </h3>
            <li href="#" class="list-group-item" ng-repeat="recipe in pharmacy.recipes | filter: {recipeStatusId: 3}">
                <h4 class="list-group-item-heading">Рецепт №{{recipe.recipeId}}</h4>
                <h5>Лекарства</h5>
                <ol class="list-group-item-text">
                    <li ng-repeat="drug in recipe.drugs">{{drug.drugName}} – {{drug.drugCount}} шт.</li>
                </ol>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Рецепты в процессе изготовления</h2>
        <ul class="list-group" ng-repeat="pharmacy in pharmacies">
            <h3>
                {{pharmacy.name}}
                <small>{{pharmacy.address}}</small>
            </h3>
            <li href="#" class="list-group-item" ng-repeat="recipe in pharmacy.recipes | filter: (recipeStatusId != 3)">
                <h4 class="list-group-item-heading">
                    Рецепт №{{recipe.recipeId}}<br>
                    <small>Дата готовности: <strong>{{recipe.completionDate}}</strong></small>
                </h4>
                <h5>Лекарства</h5>
                <ol class="list-group-item-text">
                    <li ng-repeat="drug in recipe.drugs">{{drug.drugName}} – {{drug.drugCount}} шт.</li>
                </ol>
            </li>
        </ul>
    </div>
</div>
