<div class="row" ng-show="!isDataLoading()">
    <div class="col-sm-12">
        <h1>{{patient.fullName}}<br>
            <small>
                Медицинский полис <strong>№{{patient.medicalPolicyNumber}}</strong><br>
                Адрес <strong>№{{patient.address}}</strong><br>
                E-Mail адрес: <strong>{{patient.email}}</strong>
            </small>
        </h1>
        <hr>
    </div>
</div>
<div class="row" ng-show="!isDataLoading() && (pharmaciesWithCompletedRecipes.length > 0 || pharmaciesWithRecipesInProgress.length > 0)">
    <div class="col-sm-12 col-md-6">
        <h2>Готовые рецепты</h2>
        <ul class="list-group" ng-repeat="pharmacy in pharmaciesWithCompletedRecipes">
            <h3>
                {{pharmacy.name}}
                <small>{{pharmacy.address}}</small>
            </h3>
            <li href="#" class="list-group-item" ng-repeat="recipe in pharmacy.completedRecipes">
                <h4 class="list-group-item-heading">Рецепт №{{recipe.recipeId}}</h4>
                <h5>Лекарства</h5>
                <ol class="list-group-item-text">
                    <li ng-repeat="drug in recipe.drugs">{{drug.drugName}} – {{drug.drugCount}} шт.</li>
                </ol>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Рецепты в процессе изготовления</h2>
        <ul class="list-group" ng-repeat="pharmacy in pharmaciesWithRecipesInProgress">
            <h3>
                {{pharmacy.name}}
                <small>{{pharmacy.address}}</small>
            </h3>
            <li href="#" class="list-group-item" ng-repeat="recipe in pharmacy.recipesInProgress">
                <h4 class="list-group-item-heading">
                    Рецепт №{{recipe.recipeId}}<br>
                    <small>Дата готовности: <strong>{{recipe.completionDate}}</strong></small>
                </h4>
                <h5>Лекарства</h5>
                <ol class="list-group-item-text">
                    <li ng-repeat="drug in recipe.drugs">{{drug.drugName}} – {{drug.drugCount}} шт.</li>
                </ol>
            </li>
        </ul>
    </div>
</div>
<div class="row" ng-show="!isDataLoading() && pharmaciesWithCompletedRecipes.length == 0 && pharmaciesWithRecipesInProgress.length == 0">
    <status-text fa-icon-class="fa-inbox fa-4x" text="У Вас нет рецептов"/>
</div>
<div class="row" ng-show="isDataLoading()">
    <status-text fa-icon-class="fa-spinner fa-pulse fa-2x" text="Загрузка..."/>
</div>