body {
    background: #f6f5f8;
    min-width: 0;
    color: #444;
    line-height: 1.4em;
}

#login img.logo {
    max-width: 210px;
    height: auto;
}

#login {
    text-align: center;
    width: 320px;
    padding: 8% 0 0;
    margin: auto;
}

#login form {
    color: #444;
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 26px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}


#login form label {
    font-weight: 200;
}

#login form .form_control {
    width: 100%;
}

#login form .last_group {
    margin-bottom: 0;
}