<div class="row" ng-show="!isDataLoading() && recipes.length > 0">
    <div class="col-sm-6 col-md-4">
        <h2>Рецепты</h2>

        <div class="list-group">
            <a class="list-group-item" ng-class="{active: selectedRecipe.recipeId == recipe.recipeId}"
               ng-click="selectRecipe(recipe);" ng-repeat="recipe in recipes">
                <h4 class="list-group-item-heading">Рецепт №{{recipe.recipeId}}</h4>

                <p class="list-group-item-text">
                    <strong>Пациент:</strong> {{recipe.patientFullName}}<br>
                    <strong>Кол-во лекарств:</strong> {{recipe.drugs.length}}
                </p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <h2>Лекарства</h2>
        <ol class="list-group">
            <li type="button" class="list-group-item"
                    ng-repeat="drug in selectedRecipe.drugs | orderBy: 'status.priority'"
                    ng-disabled="drug.status.type === 'label-success'"
                    ng-class="{disabled: drug.status.type === 'label-success'}">
                {{$index + 1}}. {{drug.drugName}} – {{drug.drugCount}} шт.
                <span class="label" ng-class="drug.status.type" style="float: right;" aria-hidden="true">{{drug.status.name}}</span>
            </li>
        </ol>
    </div>
</div>
<div class="row" ng-show="!isDataLoading() && recipes.length == 0">
    <status-text fa-icon-class="fa-flask fa-4x" text="В процессе изготовления нет ни одного рецепта" />
</div>
<div class="row" ng-show="isDataLoading()">
    <status-text fa-icon-class="fa-spinner fa-pulse fa-2x" text="Загружаются рецепты..." />
</div>